<%# default partial to display solr document fields in catalog index view -%>
<dl class="document-metadata dl-horizontal dl-invert">
  <% if index_fields(document).size == 1 %>
	<% index_fields(document).each do |solr_fname, field| -%>
	    <p class="blacklight-<%= solr_fname.parameterize %>"><%= render_index_field_value document, :field => solr_fname %></p>
	<% end %>
  <% else %>
	<% index_fields(document).each do |solr_fname, field| -%>
	    <dt class="blacklight-<%= solr_fname.parameterize %>"><%= render_index_field_label document, :field => solr_fname %></dt>
	    <dd class="blacklight-<%= solr_fname.parameterize %>"><%= render_index_field_value document, :field => solr_fname %></dd>
	<% end %>
  <% end -%>

</dl>
