<% # container for all documents in index view -%>

<% # Bootstrap locales have different names from ours, here's the mapping.
   # NOTE: you must edit this if you add new translations of the UI.
 if I18n.locale == :fr
   bt_locale = 'fr-FR'
 else
   bt_locale = 'en-US'
 end %>
<%= stylesheet_link_tag "bootstrap-table", media: "all" %>
<%= javascript_include_tag "bootstrap-table" %>
<%= javascript_include_tag "bootstrap-table-export" %>
<%= javascript_include_tag "tableExport" %>
<%= javascript_include_tag "bootstrap-table-#{bt_locale}" %>

<script type="text/javascript">
  function copy_clip(clip) {
    if (window.clipboardData && window.clipboardData.setData) {
      window.clipboardData.setData('Text', clip);
    } else {
      window.prompt("<%= t('orfeo.concordancer.links.copy_prompt') %>", clip);
    }
  }
</script>

<div id="documents">
  <%- if params.fetch(:q, '').blank? %>
  <div>
    <%= t('orfeo.concordancer.no_term') %>
  </div>
  <%- else %>
  <%
  columns = [{field: 'n', title: t('orfeo.concordancer.number'), counter: true}]
  columns << {field: 'f', title: t('orfeo.concordancer.filename'), sortable: true}
  index_fields(documents[0]).each do |solr_fname, field|
    if solr_fname != 'text'
      columns << {field: solr_fname, title: t("blacklight.search.fields.#{solr_fname}"), sortable: true}
    end
  end
  columns << {field: 'lc', title: t('orfeo.concordancer.lc.heading'), align: 'right', sorter: 'lc_sorter', switchable: false, sortable: true}
  columns << {field: 'm', title: t('orfeo.concordancer.match'), switchable: false, sortable: true}
  columns << {field: 'rc', title: t('orfeo.concordancer.rc.heading'), switchable: false, sortable: true}
  columns << {field: 'links', title: t('orfeo.concordancer.links.heading')}
  json_data = []
  hist = {total: 0}
  documents.each do |doc|
    split_to_json(json_data, doc, hist)
  end
  total_hits = hist.delete(:total)
  %>

  <%
  # Now the total number of hits is in 'total_hits' and the histogram by
  # corpus is in 'hist'. This part renders a donut chart, but you could
  # also replace this with a plain HTML table or something else.
  %>
  <%= javascript_include_tag "jquery.canvasjs.min" %>
  <%
  dataPoints = []
  hist.each do |corp, hits|
    dataPoints << {y: hits, indexLabel: "#{corp}: #percent%", legendText: corp}
  end
  %>
  <script type="text/javascript">
  window.onload = function () {
    var chart = new CanvasJS.Chart("chartContainer",
    {
      title:{
        text: "<%= t(:'orfeo.concordancer.matches', :count => total_hits) %>"
      },
      animationEnabled: true,
      data: [{
        type: "doughnut",
        startAngle: 60,
        toolTipContent: "{legendText}: <strong>{y}</strong> (#percent%) ",
        showInLegend: true,
        dataPoints: <%= raw(JSON.fast_generate(dataPoints)) %>
      }]
    });
    chart.render();
  }
  </script>
  <div id="chartContainer" style="height: 300px; width: 100%;"></div>

  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      <%= t(:'orfeo.concordancer.lc.button', :count => lc_size) %> <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <%- (1..20).each do |count| %>
        <li><%= link_to(t(:'orfeo.concordancer.lc.label', :count => count).html_safe, url_for(params_for_search(:lc => count))) %></li>
      <%- end -%>
    </ul>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      <%= t(:'orfeo.concordancer.rc.button', :count => rc_size) %> <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <%- (1..20).each do |count| %>
        <li><%= link_to(t(:'orfeo.concordancer.rc.label', :count => count).html_safe, url_for(params_for_search(:rc => count))) %></li>
      <%- end -%>
    </ul>
  </div>

  <table id="hittable" data-show-columns="true" data-pagination="false"
   data-show-pagination-switch="true" data-page-list="[10, 25, 50, 100, ALL]"
   data-locale="<%= bt_locale %>">
 </table>
  <script type="text/javascript">
  $('#hittable').bootstrapTable(<%= raw(JSON.fast_generate({'columns' => columns, 'data' => json_data})) %>);

  function lc_sorter(a, b) {
    a2 = a.slice(a.lastIndexOf(' ') + 1);
    b2 = b.slice(b.lastIndexOf(' ') + 1);
    return a2.localeCompare(b2);
  }
  </script>
  <%- end %>
</div>
