<% # container for all documents in index view -%>

<%= stylesheet_link_tag "bootstrap-table", media: "all" %>
<%= javascript_include_tag "bootstrap-table" %>

<script type="text/javascript">
  function copy_clip(clip) {
    if (window.clipboardData && window.clipboardData.setData) {
      window.clipboardData.setData('Text', clip);
    } else {
      window.prompt("<%= t('orfeo.concordancer.links.copy_prompt') %>", clip);
    }
  }
</script>

<div id="documents">
  <%- if params.fetch(:q, '').blank? %>
  <div>
    <%= t('orfeo.concordancer.no_term') %>
  </div>
  <%- else %>
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      <%= t(:'orfeo.concordancer.lc.button', :count => lc_size) %> <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <%- (1..20).each do |count| %>
        <li><%= link_to(t(:'orfeo.concordancer.lc.label', :count => count).html_safe, url_for(params_for_search(:lc => count))) %></li>
      <%- end -%>
    </ul>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      <%= t(:'orfeo.concordancer.rc.button', :count => rc_size) %> <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <%- (1..20).each do |count| %>
        <li><%= link_to(t(:'orfeo.concordancer.rc.label', :count => count).html_safe, url_for(params_for_search(:rc => count))) %></li>
      <%- end -%>
    </ul>
  </div>

  <table class="table-condensed" data-minimum-count-columns="0" id="hittable" data-show-columns="true"
   data-pagination="true" data-show-pagination-switch="true" data-page-list="[25, 50, 100, 500, ALL]"
   data-toggle="table">
    <thead>
      <tr>
        <th data-field="sample" data-sortable="true"><%= t('orfeo.concordancer.filename') %></th>
        <% index_fields(documents[0]).each do |solr_fname, field| -%>
        <% if solr_fname != 'text' -%>
        <th data-sortable="true"><%= t("blacklight.search.fields.#{solr_fname}") %></th>
        <% end -%>
        <% end -%>
        <th data-field="lc" data-switchable="false" data-sortable="true" data-sorter="lc_sorter" data-align="right">
          <%= t('orfeo.concordancer.lc.heading') %>
        </th>
        <th data-field="match" data-switchable="false" data-sortable="true"><%= t('orfeo.concordancer.match') %></th>
        <th data-field="rc" data-switchable="false" data-sortable="true"><%= t('orfeo.concordancer.rc.heading') %></th>
        <th data-switchable="true" data-sortable="false"><%= t('orfeo.concordancer.links.heading') %></th>
      </tr>
    </thead>
    <tbody>
      <%= render collection: documents, partial: 'concordancer/document' %>
    </tbody>
  </table>
  <script type="text/javascript">
  function lc_sorter(a, b) {
    a2 = a.slice(a.lastIndexOf(' ') + 1);
    b2 = b.slice(b.lastIndexOf(' ') + 1);
    return a2.localeCompare(b2);
  }
  </script>
  <%- end %>
</div>
