<%# default partial to display solr document fields in catalog index view -%>
  <% txtz = render_index_field_value document, :field => 'text' %>
  <% sample_url = render_index_field_value document, :field => 'url' %>
  <% split_context(txtz, lc_size, rc_size) do |lc, match, rc, start_word, end_word| -%>
  <tr>
		<td>
      <% if sample_url -%>
      <%= link_to render_index_field_value(document, :field => 'nomFichier'), sample_url %>
      <% else -%>
      <%= link_to_document document, document_show_link_field(document) %>
      <% end -%>
		</td>
  <% index_fields(document).each do |solr_fname, field| -%>
	<% if solr_fname != 'text' -%>
	<td><%= render_index_field_value document, :field => solr_fname %></td>
	<% end -%>
	<% end -%>
	<td><%= lc %></td>
	<% if sample_url -%>
  <% par = {from: start_word, to: end_word} -%>
  <% par_tree = {tree: start_word} -%>
  <td>
    <%= link_to match, "#{sample_url}?#{par.to_query}", data: { no_turbolink: true } %>
    <small>(<%= link_to t('orfeo.concordancer.tree'), "#{sample_url}?#{par_tree.to_query}", data: { no_turbolink: true } %>)</small>
  </td>
	<% else -%>
	<td><mark><%= match %></mark></td>
	<% end -%>
	<td><%= rc %></td>
  </tr>
	<% end -%>
