<%# default partial to display solr document fields in concordancer view -%>
  <% txtz = render_index_field_value document, :field => 'text' %>
  <% sample_url = render_index_field_value document, :field => 'url' %>
  <% solrquery = params.fetch(:q, '') %>
  <% if solrquery =~ /^"(.*)"$/ then solrquery = $1 else solrquery = nil end %>
  <% split_context(txtz, lc_size, rc_size, solrquery) do |lc, match, rc, start_word, end_word| -%>
  <tr>
		<td>
      <% if sample_url -%>
      <% name = render_index_field_value(document, :field => 'nomFichier') %>
      <% if name.length > 10 %>
      <%= link_to name[0..9], sample_url, data: { no_turbolink: true }, title: name %>...
      <% else -%>
      <%= link_to name, sample_url, data: { no_turbolink: true } %>
      <% end -%>
      <% else -%>
      <%= link_to_document document, document_show_link_field(document) %>
      <% end -%>
		</td>
  <% index_fields(document).each do |solr_fname, field| -%>
	<% if solr_fname != 'text' -%>
	<td><%= render_index_field_value document, :field => solr_fname %></td>
	<% end -%>
	<% end -%>
	<td><%= lc %></td>
	<% if sample_url -%>
  <% par = {from: start_word, to: end_word} -%>
  <% par_tree = {tree: start_word} -%>
  <td>
    <%= link_to match, "#{sample_url}?#{par.to_query}", data: { no_turbolink: true } %>
  </td>
	<% else -%>
	<td><mark><%= match %></mark></td>
	<% end -%>
	<td><%= rc %></td>
  <td>
    <%= link_to image_tag("tree.svg", :alt => t('orfeo.concordancer.links.tree'), :height => 20), "#{sample_url}?#{par_tree.to_query}", data: { no_turbolink: true } %>
    <% clipstring = "[#{render_index_field_value(document, :field => 'nomCorpus')} > #{render_index_field_value(document, :field => 'nomFichier')}] #{lc} _#{match}_ #{rc}" %>
    <%= image_tag("copy.svg", :alt => t('orfeo.concordancer.links.copy'), :height => 20, :onclick => "copy_clip(\"#{clipstring}\")") %>
  </td>
  </tr>
	<% end -%>
