<%# default partial to display solr document fields in catalog index view -%>
  <% txtz = nil %>
	<% urlz = nil %>
	<% document_show_fields(document).each do |solr_fname, field| -%>
	<% if solr_fname == 'text' %>
	<% txtz = render_index_field_value document, :field => solr_fname %>
	<% elsif solr_fname == 'url' -%>
	<% urlz = render_index_field_value document, :field => solr_fname %>
  <% end -%>
	<% end -%>
  <% split_context(txtz, lc_size, rc_size) do |lc, match, rc| -%>
  <tr>
		<td>
			<%= link_to_document document, document_show_link_field(document) %>
		</td>
  <% index_fields(document).each do |solr_fname, field| -%>
	<% if solr_fname != 'text' -%>
	<td><%= render_index_field_value document, :field => solr_fname %></td>
	<% end -%>
	<% end -%>
	<td><%= lc %></td>
	<% if urlz -%>
	<td><%= link_to match, urlz %></td>
	<% else -%>
	<td><mark><%= match %></mark></td>
	<% end -%>
	<td><%= rc %></td>
  </tr>
	<% end -%>
